<footer>
  
  
      <div class="container">

        <div class="navbar navbar-fixed-bottom">
          <div class="navbar-inner">
           
            
            
              <ul class="nav">
               
                
                 <li><a>&copy; 2013 The Startup Community</a></li>

              </ul>
              
            
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
</footer>